@using WebsiteBanTraSua.Models;
@{
    ViewBag.Title = "XacNhanThongTin";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

@model CUSTOMER

<div class="container-fluid">
    @* Tiêu đề ----------------------------------------------------------------------------------------- *@
    <div class="row mb-5">
        <div class="col-md-12 text-center mb-2">
            <h4 class="p-2" style="background-color: #F8F8FF; color:blue">Đặt hàng</h4>
        </div>
    </div>

    @* Nội dung ---------------------------------------------------------------------------------------- *@
    <div class="row text-center">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form action="/Admin/LuuDatHang" method="post">
                <table class="table text-center">
                    <tr>
                        <td>Họ tên khách hàng: </td>
                        <td>@Model.hoTen</td>
                    </tr>
                    <tr>
                        <td>Địa chỉ:</td>
                        <td>@Model.diaChi</td>
                    </tr>
                    <tr>
                        <td>Điện thoại</td>
                        <td>@Model.soDT</td>
                    </tr>
                    <tr>
                        @* Ngày đặt là ngày hiện tại *@
                        <td>Ngày đặt:</td>
                        <td>@DateTime.Now.ToShortDateString()</td>
                    </tr>
                    <tr>
                        <td>Ngày giao hàng:</td>
                        <td>
                            <input type="date" name="txtNgay" class="glyphicon-calendar" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <input class="btn" type="submit" value="Đồng ý đặt hàng" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>