@using WebsiteBanTraSua.Models;

@model List<BILLDETAIL>

<table class="table">
    <tr>
        <th>Mã sản phẩm</th>
        <th>Tên</th>
        <th>Số lượng</th>
        <th>Đơn giá</th>
    </tr>

    @foreach (var ct in Model)
    {
        <tr>
            <td>@ct.maSP</td>
            <td>@ct.PRODUCT.tenSP</td>
            <td>@ct.soLuong</td>
            <td>@ct.PRODUCT.gia</td>
        </tr>
    }
</table> 
